/* CSS incorporado */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    max-width: 900px;
    width: 100%;
    background-color: #308c54; /* Fundo do título e barra de pesquisa */
    padding: 20px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: left;
}

header h1 {
    font-size: 2em;
    color: #ffffff;
    margin: 0;
}

header h2 {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-top: 5px;
}

.logo-container img {
    width: 200px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-container input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff; /* Fundo branco onde se escreve */
    border: 2px solid #308c54; /* Borda na cor especificada */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 40px auto;
    max-width: 900px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
